// Specific CSS for your home-page
body {
  margin: 0;
  font-family: Open Sans;
  background-color: #F5EFEF;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* banner */
.banner-container {
  width: 1050px;
  margin: auto;
  color: white;
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 170px 0;
  h1 {
  margin: 0;
  color: #FFFFFF;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
  }
  p {
  color: #F5EFEF;
  opacity: 0.8;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 8px 3px;
  margin-bottom: 15px;
  }
}
.cta-button {
  background-color: #F55353;
  color: #F5EFEF;
  font-size: 16px;
  border: none;
  padding: 10px 15px;
  margin: 5px 10px 0;
  border-radius: 5px;
  &:hover {
    background-color: #ed7373;
    color: #F5EFEF;
  }
}


/* card */
.body-container {
  width: 1050px;
  margin: auto;
  color: #293462;
  padding: 80px 0;
  .line {
    height:0;
    width: 100px;
    border: 1px solid #293462;
    opacity: 0.3;
  }
  h2 {
    padding: 40px 0;
    font-style: italic;
    font-weight: bold;;
  }
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card-white {
  width: 25%;
  box-shadow: 10px 10px 8px #888888;
  text-align: center;
  padding: 20px;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(186, 165, 165);
  .image-home {
    height: 150px;
    margin-bottom: 20px;
  }
  p{
    color: rgb(146, 143, 143);
  }
}
