.booking-container {
  border: 2px solid #c6c6c6;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;

}
.simple-form {
  float: none;
  text-align : center;
}
.simple-form input {
  display: inline-block;
}

.book-now-form {
  background: #d50032;
  width: 180px;
  height: 35px;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 8px 27px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}
