<div id="footer">
		<a href="#"><i class="fab fa-youtube"></i></a>
		<a href="#"><i class="fab fa-facebook"></i></a>
		<a href="#"><i class="fab fa-twitter"></i></a>
		<p> © CarRental 2022 • This website is made by Yaron, Julien C, Julien V and Yujia</p>
	</div>
	</body>
