<div class="footer">
 <div class="footer-copyright">
    © Carrental 2022 • This website is made by Yaron, Julien C, Julien V and Yujia
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
