
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="banner-container">
    <h1>Go to See the Places You Love</h1>
    <p>With 1000s of vehicles to choose from, get a great rate on your Car Rental</p>

  </div>
</div>

<div class="body-container">
    <h2>How it works</h2>
    <div class="cards">
      <div class="card-white">
        <img src="images/apply.svg" alt="">
        <h3>Apply</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="card-white">
        <img src="images/learn.svg" alt="">
        <h3>Learn to code</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="card-white">
        <img src="images/product.svg" alt="">
        <h3>Build products</h3>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
