
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Go to See the Places You Love</h1>
    <p>With 1000s of vehicles to choose from, get a great rate on your Car Rental</p>

  </div>
</div>
<div class="content"></div>
