

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto+Slab:wght@200;300;400&family=Space+Mono&display=swap');



.card-product {
  background: white;
  width: 800px;
  height: 248px;
  border-bottom: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  &:hover {
    background-color: #F5EFEF !important ;
  }

  h3 {
    font-size: 18px;
  }
  h4{
    font-size: 16px;
    color: #494949;

  }

  h5 {
    margin-left: 5px;
    font-size: 13px;
  }
  h6 {
    font-size: 12px;
  }
  .availibale {
    color: green;
  }

  b {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
  }
  .location-pin {
    height: 12px;
    width: 16px;
    object-fit: initial;
  }

}

.card-product:hover {
  background-color: rgb(136, 136, 136);
}

.book-now {
  background: #d50032;
  width: 180px;
  height: 35px;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 8px 27px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 80px;

}

.card-product img {

  height: 225px;
  object-fit: unset;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;

  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
