.navbar-cars {
  justify-content: space-between;
  background: #293462;
  color: #F5EFEF
}

.navbar-cars .navbar-collapse {
  flex-grow: 0;
}

.navbar-cars .navbar-brand img {
  width: 40px;
}
.main-button {
  background-color: #F55353;
  color: #F5EFEF;
}
