
<div class="container" style="height:700px;">
  <h1>Browse Our Cars</h1>
  <p>You are only one step away to rent a car</p>

  <% @cars.each do |car| %>
    <%= render 'car', car: car %>
  <% end %>
</div>