<div class="container">
  <div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <h1>Browse Our Cars</h1>
  <p></p>

  <div>
    <% @cars.each do |car| %>
      <%= render 'car', car: car %>
    <% end %>
  </div>
</div>
