
<div class="container " style="height:900px;">
  <h1>Browse My cars</h1>
  <p>You are only one step away to rent a car</p>

  <div>
    <% @cars.each do |car| %>
      <%= render 'car', car: car %>
    <% end %>
  </div>
  <%= link_to('Add a new car', new_car_path, class: "main-button") if current_user %>
  <%= link_to "My cars booking", car_bookings_bookings_path, class: "main-button" %>
</div>
